<!DOCTYPE html>
<html>
<head>
    <title>High Bank User Details</title>
</head>
<body>
<h1>High Bank User Details</h1>
<p>Enter 'yes' to action and 'no' in another in store and display boxes</p>
    <div class="form">
        <form action="/display" method="POST">
            <label for="name">Enter Your Name:</label>
            <input type="text" name="name" id="name" >
            <label for="accnum">Enter Your Account Number:</label>
            <input type="text" name="accnum" id="accnum" >
            <label for="bal">Enter Total Balance:</label>
            <input type="text" name="bal" id="bal" >
            <label for="str">Store:</label>
            <input type="text" name="str" id="str" >
            <label for="dis">Display:</label>
            <input type="text" name="dis" id="dis" >
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>
