<!DOCTYPE html>
<html>
<head>
    <title>Software Solutions Employee Details</title>
</head>
<body>
<h1>Software Solutions Employee Details</h1>
    <div class="form">
        <form action="/empsite" method="POST">
            <label for="name">Enter Your Name:</label>
            <input type="text" name="name" id="name" >
            <label for="empid">Enter Your Employee ID:</label>
            <input type="text" name="empid" id="empid" >
            <label for="salary">Enter Your Salary:</label>
            <input type="text" name="salary" id="salary" >
            <label for="emailid">Enter Your Email ID:</label>
            <input type="text" name="emailid" id="emailid" >
            <label for="des">Enter Your Designatoin:</label>
            <input type="text" name="des" id="des" >
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>
