<!DOCTYPE html>
<html>
<head>
    <title>Updating Table</title>
</head>
<body>
<h1>Updating Table</h1>
<p>Enter price to set for perticular product</p>
    <div class="form">
        <form action="/cl" method="POST">
            <label for="product">Enter Product:</label>
            <input type="text" name="product" id="product" >
            <label for="value">Enter Value:</label>
            <input type="text" name="value" id="value" >
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>
